# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Local data
data/

# Model checkpoints
# 如果希望把训练好的模型一起放到 GitHub，可以删除下面这一行
checkpoints/